.HomemainSpaceTop{
}

.home_page_title{
    /* font-family: 'Franklin Gothic';
    color: white;
    font-weight: 900;
    font-size: 0%;
    margin-top: 15px;
    margin-left: 3%; */
}
.home_page_title_text{
    font-family: 'Franklin Gothic';
    color: white;
    font-weight: 900;
    font-size: 90%;
}
.home_advertisement{
    background-color:#3C3C3D;
    display: flex;
    height: 220px;
    margin-top: 30px;
    width: 90%;
    margin-left:4%;
    border-radius: 20px;
}
.HomenewThread{
    background-color: blue;
    height: 500px;
    margin-top: 24px;
    margin-left: 4%;
    width: 90%;
    border-radius: 20px;
}
.home_topics{
    background-color: #3a3a3b; 
    background-color: #383838; 
    background-color: #3a3a3b; 
    background-color: #373738; 
    background-color: #373738; 

    /* background-color: #3C3C3D;  */

    /* background-color:#343435; */
    

    border: 2px solid #3C3C3D;


    margin-top: 12px;
    width: 95.5%;
    margin-left:2.2%;
    border-radius: 12px;
}
.home_new_thread{
    /* background-color: #39393a; */
    background-color: #38383a; 
    /* background-color: #373737;  */
    /* background-color:#343435; */
    /* background-color: #3C3C3D; */
    background-color: #373738; 

    border: 2px solid #3C3C3D;

    margin-top: 16px;
    width: 95.5%;
    margin-left: 2.3%;
    border-radius: 15px;
}
.home_content_text1{
    
    color: white;
    font-family: 'Franklin Gothic';
    font-size: 145%;
    font-weight: 660;
    margin-top: 10px;
    margin-left: 30px;
}
.home_advertisement_wapp{
    padding-bottom: 40px;
    width: 93%;
    margin-left: 2.5%;
    border-bottom:solid 2px #424243;
}
.home_tag{
    background-color: red;
}
.home_content_text2{
    
    color: white;
    font-family: 'Franklin Gothic';
    font-size: 145%;
    font-weight: 660;
    margin-top: 8px;
    margin-left: 30px;
}
.home_content_text_wapp{
    display: flex;
    margin-top: 0px;
    justify-content: space-between;
}
.home_content_news_wapp{

    padding-top: 8px;
    width: 97%;
}
.home_content_moreload{
    display: flex;
    margin-right: 3%;
    margin-top: 15px;
    color: rgb(247, 229, 114);
    cursor:pointer;
}
.new_threads{
    margin-left: 2.227%;
    margin-top: 10px;
}
.newThreadWapp{
    /* background-color: rgb(55, 55, 55); */
    /* background-color: rgb(54, 54, 54);  */
    /* background-color: #3c3c3c;  */

    /* background-color: #424242;  */
    /* background-color: #444444;   */
    /* background-color: #404040f5; */
    /* background-color: #404040; */
    background-color: #47474794;
    background-color: #4747477a;

    /* background-color: #3C3C3D; */

    width: 97.5%;
    margin-bottom: 14px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 2px 3px 15px -8px #272727;
    display: flex;

    /* box-shadow: 2px 3px 15px -5px #47474747; */

}
.newThreadWapp:hover{
    transform: translateY(-1.2px);

}
.home_thread_userName{
    font-family: Arial,sans-serif;
    color: white;
    font-size: 160%;
    height: 20%;
    margin-bottom: 0;
    padding-bottom: 0;

}
.newThreadProfilePhoto{
    /* width: 35px;
    height: 35px; */
    width: 35px;
    height: 35px;
    border-radius: 50px;
    object-fit: cover;
    margin-left: 22px;
}
.home_thread_userName{

    color: white;
    font-size: 145%;
    font-weight: 650;
    margin-left: 11px;
    margin-top: 1px;
    white-space: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.homeThreadTop1{
    display: flex;
    padding-top: 8px;
    justify-content: space-between;

}
.fjfjfioi{
    display: flex;
}
.home_thread_text{
    font-family: Arial,sans-serif;
    color: white;
    font-size: 150%;
    font-weight: 550;
    /* margin-left: 5.4%; */
    table-layout: fixed;
    word-wrap: break-word;
    margin-right: 1.5%;


}
.home_thread_bottom{
    display: flex;
    margin-left: 0%;
}
.home_thread_create{

}
.home_thread_create_text{
    display: flex;
    color: white;
    font-family: 'Franklin Gothic';
    padding-left: 5.5%;
    margin-top:4px;
    padding-bottom: 9px;
    white-space: nowrap
}
.home_thread_tweet_counter{
    display: flex;
}
.home_thread_tweet_num{
    display: flex;
    color: white;
    font-family: 'Franklin Gothic';
    font-size: 105%;
    margin-left: 5px;
    margin-top: 5.5px;
}
.home_thread_tweetIcon{
    margin-left: 30px;
    margin-top: 4px;
    color: white;
}
.fefefeefefefe{

}

.home_news_texts{
    background-color: rgb(55, 55, 55);
    margin-top: 15px;

    width: 93%;
    max-height: 120px;
    /* height: 120px; */
    margin-left: 3.5%;
    border-radius: 11px;
    overflow:auto;

}
.home_news_bottom_space{
    height: 15px;
}
.home_page_bottom{
    height: 60px;
    background-color: #312f2f;
    margin-top: 60px;
    flex-flow: column;
}
.lgotpgjmfkld{
    height: 10px;
}
.home_thread_main{
    display: flex;
    width: 100%;
    margin-right: 1.5%;
}
.fkglr{
    background-color: #343333;
    height: 100%;
    width: 1.4%;
    /* margin-left: ; */
}
.home_bottom_text{
    display: flex;
    color: white;
    padding-top: 15px;
    margin-left: 35%;
}
.home_content_news_wapp{

    padding-top: 8px;
    width: 97%;
}




.loadOrPrompt{
    position:absolute;
    background-color: rgba(132, 166, 205, 0.236);
    height: 100%;
    width: 100%;
    z-index: 10000;
}
.promContent1{
    width: 45%;

    background-color:#3C3C3D;
    margin:auto;
    margin-top:55px;
    border-radius: 12px;
    border: solid 1px rgba(255, 233, 92, 0.828);
}
.prompt_thread_text_wapp{
    display: flex;
    padding-top: 10px;
}
.prompt_thread_text{
    color: white;
    font-family: 'Franklin Gothic';
    font-size: 140%;
    font-weight: 550;
    margin-left: 3%;
}
.promContent2{
    width: 90%;


    margin-top: 0px;
    margin: auto;
}
.prompt_thread_text2{
    display: flex;
    color: white;
    font-family: 'Franklin Gothic';
    font-size: 120%;
    font-weight: 550;
    margin-top: 8px;
}
.prompt_thread_text3{
    display: flex;
    color: white;
    font-family: 'Franklin Gothic';
    font-size: 120%;
    font-weight: 550;
    margin-top: 15px;
}
.new_thread_tera{
    border-radius: 8px;
    resize: none;
    width: 99%;
    height: 32px;
    font-size: 120%;
    margin-left: 1px;
    margin-top: 3px;
    outline: none;
}
.new_thread_tera2{
    border-radius: 8px;
    width: 99%;
    margin-left: 3px;
    margin-top: 3px;
    resize: vertical;
    height: 100px;
    min-height: 60px;
    max-height: 100px;
    font-size: 110%;
    outline: none;
}

.cp_ipselect {

    width: 90%;
    margin-top: 4px;
    margin-left: 6px;
    margin-right: 3px;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}
.cp_sl01_wapp{
    display: flex;
}
.promContent9{
    display: flex;
    justify-content: space-between;
    

}
.new_thread_create_button1{

    width: 75px;
    height: 35px;
    font-size: 110%;
    background-color: rgba(255, 233, 92, 0.828);
    border: solid 1px black;
    border-radius: 8px;
    margin-bottom: 7px;
    margin-top: 3px;
    box-sizing:border-box;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 9px;
}
.dammy{
    width: 10px;
    height: 10px;
}
/* .home_new_thread_right{
    width: 30px;
    height: 100%;

} */
/*
.home_new_thread_left{
    width: calc(100% - 125px);
}
*/ 
.new_thread_img{
    border-radius: 10px;
    margin-top: 13px;
    object-fit: cover;
    margin-left: 15px;
    margin-right: 5px;
} 
.home_new_thread_right{
    /* width:calc(100% - 115px); */
    width: calc(100% - 111px - 5px);
    margin-left: 3px;
    margin-right: 0%;
}