.LeftBarThread{
    background-color: #3c3c3d; 
    background-color: #3e3e3ee2; 
    /* background-color: #3f3f3fe2;  */
    background-color: #3C3C3D;


    width: 92%;
    margin-top: 15px;
    margin-left: 4.1%; 
    border-radius: 15px;
    margin-bottom: 0;
    padding: 0;
    transform: translateY(-1px);
    box-shadow: 2px 3px 15px -5px #2e2e2e;
    cursor: pointer;
}
.LeftBarThread:hover{
    transform: translateY(-2.5px);
    
}
.LeftBarThreadTitle{
    color: white;
    font-family: "Franklin Gothic";
    font-size: 135%;
    font-weight: 650;
    margin-top: 10px;
}
.LeftBarThreadTop{
    display: flex;
}
.LeftBarImg{
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}
.LeftBarThreadName{
    color: white;
    display: flex;
    align-items: center;
    font-family: "Franklin Gothic";
    font-weight: 600;
    font-size: 115%;
    margin-top: 8px;
    margin-left: 8px;
}
.leftBarBottom{
    width: 100%;
}
.LeftBarThreadBottom{
    display: flex;
}
.LeftThreadTweetCounter{
    display: flex;
    margin-left: 11%;
}

.LeftThreadTweetIcon{
    margin-left: 13%;
    color: white;
    margin-top: 4px;
    font-size: 90%;
}
.LeftTweetCounterText{
    align-items: center;
    font-family: "Franklin Gothic";
    color: white;
    margin-top: 6px;
    margin-bottom: 15px;
    margin-left: 1%;
    font-weight: 590;
}
.LeftTweetCounterText{
    margin-left: 5px;
}
.delteThreadButton{
    height: 25px;
    width: 55px;
    border-radius: 6px;
    margin-left: 6%;
    margin-top: 4px;
    background-color:rgba(255, 233, 92, 0.828);
}
.LeftThreadDelete{
    font-family: "Franklin Gothic";
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-left: 20%;
}
.LeftHreadMain{
    margin-left:50px;
    margin-right: 10px;
}
.LeftBarThread{
    overflow: auto;
}

.leftBarBottomWapp{
    /* background-color: red; */

}
.sddsdsd{
    /* background-color: blue; */
    overflow: auto;
    height: 80vh;
}

@media screen and (min-height: 900px) {
    .last_box{
        height: 30px;

        display: flex;
    }
}
@media screen and (max-height: 900px) {
    .last_box{
        height: 40px;

        display: flex;
    }
}
@media screen and (max-height: 850px) {
    .last_box{
        height: 100px;

        display: flex;
    }
}
.yokonisitai{
    display: flex;

    margin-top: 10px;

}
.yokonisitai2{
    display: flex; 
    margin-left: 25px;
}

.barFollownum{
display: flex;
width:86%;


margin-left: 6.5%;
margin-bottom: 10px;
border-radius: 10px;
}
.yokonisitai-1{
    border-bottom: solid 1px #505051;
}
.follownumbar{

}
.profileTera{
    width: 100%;
    height: 100%;
    background-color: #3c3c3d;
    color: white;
    height: 60px;
    font-size: 106%;
    min-height: 30px;
}
.profileTera {
    border:none;
    border-radius:7px;
    box-shadow: none;
    padding: 2px 8px;
    border: 1px solid rgba(255, 233, 92, 0.828);
    resize: vertical;
  }
  
.profileTera:focus {
    outline: none;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 20px;
    }
    ::-webkit-scrollbar-track {
    background-color: #3c3c3d;
    border-radius: 100px;
    }
    ::-webkit-scrollbar-thumb {
    background: #2d2d2d;
    border-radius: 100px;
    width: 130px;
    } 
    .fsegefesgetr{
        height:3px;
    }