.tag_list_top_title{
    color: white;
    font-size: 145%;
    font-weight: 550;
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 3.8%;
    font-family: Franklin Gothic;
}
.tag_list_top{
    display: flex;
}
.tag_list_top_tag{
    display: flex;
    background-color: #242427;
    margin-top:11px;
    margin-left: 20px;
    height: 28px;

    border-radius: 8px;
}
.tag_list_top_tag_text{
    margin-right: 9px;
    margin-top: 2px;
    font-family: Franklin Gothic;
    color: white;
    font-size: 100%;
}
.tag_list_top_tag_color{
    width: 15px;
    height: 15px;
    /* background-color: aqua; */
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 6px;
    border-radius: 50%;
}
.read_more_button{
    width: 90%;
    height: 50px;
    background-color:rgba(255, 233, 92, 0.871);
    margin-bottom: 100px;
    border-radius: 10px;
    margin: auto;
    border:solid 2px rgb(250, 228, 82);
    display: flex;
    cursor: pointer;

}
.read_more_button:hover{
    background-color:rgba(250, 232, 117, 0.871);
    
}
.bottom_spacee{
    width: 30px;
    height: 35px;

}
.read_more_button_text{
    margin: auto;
    font-family: Arial,sans-serif;
    font-weight: 550;
}